

 /*FORMATACAO DOS TITULOS*/
 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
    width: 50%;
}
p{
    background-color:black;
    color: white;
}
span {
font-size: 40px;
font-family: "comic Sans MS";
color: yellow;
text-decoration: underline;
text-transform: uppercase;
}
ul{
    font-size: 40px;
    list-style: nome;
}
ol{
    font-size: 50px;
    list-style: upper-latin;
    margin-left: 40px;
}

.conteudo{
    margin-left: 2rem;
}
#titulo-principal{
    margin-left: 5rem;
}
/*Explicando cacade e Especificidade*/
/* 0 - 2 - 0 */
.titulo.titulo-pagina{
    color: purple;
}
/* 1 - 0 - 0*/
#titulo-principal{
    color:aquamarine;
    
}

.titulo-pagina{
    font-size: 5rem; 
    border: 5px solid red;
    color: black;
   margin-left: 4rem;
}
/* 0 - 1 - 0*/

.titulo{
    color:#768076;
    border-style: dashed;
    margin-left: 0rem;
}
/* 0 - 0 - 1*/
h1{ 
    color: blue
    /* 1 - 0 - 0 - 1*/
   /* color: blue! important;*/
}
/*
Regras de especificidade
0 - 2 - 1
*/
