
*{ 
    box-sizing: border-box;
}
 /*FORMATACAO DOS TITULOS*/
 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
    width: 50%;
}
p{
    background-color:black;
    color: white;
}

}
ul{
    font-size: 40px;
    list-style: nome;
}
ol{
    font-size: 50px;
    list-style: upper-latin;
    margin-left: 40px;
}

.conteudo{
    margin-left: 2rem;
}
#titulo-principal{
    margin-left: 5rem;
}
/*Explicando cacade e Especificidade*/
/* 0 - 2 - 0 */
.titulo.titulo-pagina{
    color: purple;
}
/* 1 - 0 - 0*/
#titulo-principal{
    color:aquamarine;
    
}

.titulo-pagina{
    font-size: 5rem; 
    border: 5px solid red;
    color: black;
   margin-left: 4rem;
}
/* 0 - 1 - 0*/

.titulo{
    color:#768076;
    border-style: dashed;
    margin-left: 0rem;
}
/* 0 - 0 - 1*/
h1{ 
    color: blue
    /* 1 - 0 - 0 - 1*/
   /* color: blue! important;*/
}
/*
Regras de especificidade
0 - 2 - 1
*/
.titulo-generico{

font-size: 40px;
color: red
}

.container-exemplo .titulo-generico{
    font-size: 80px;
    color: black

}
.meu-link{
font-size:30px;
text-decoration: none;

    }

    .meu-link:hover{
        font-size:40px;
        text-decoration: underline;
    }
    .meu-link:link{
        color: green;
    }
    .meu-link:visited{
color: rgb(255, 123, 0)
    }
    .meu-link:active{
        font-size: 60px;
        color:red;
    }
    .meu-link:focus{
  font-size: 90px;
     color:purple;
    }

    .meu-input {
        background-color: gray;
        font-size: 50px;
        color:white;
    }
    .meu-input[type="number"] {
    
        font-size: 90px;
        background-color: red;
    }

    .meu-input:focus {
background-color: white;
color: black;
    }

    .nav-menu {
border:2px solid blue;
list-style: none;
    }
    .menu-item {
border: 2px dashed purple;
background-color: grey;
margin-bottom: 20px;
display: inline-block;
font-size: 30px;
    }
    .menu-item:last-child {
margin-bottom: 0px;

    }
    .menu-item:first-child {
       color:red;
        
            }
            .menu-item:nth-child(3){
                background-color: green;
            }
            .menu-item:nth-child(n + 2){
                font-weight: bold;
            }
            .bloco-inicial{  
font-size: 50px;
background-color: #c68d04;
display: block;
margin-bottom: 20px;
display:block;/* por padrão div é block*/
width: 600px ;

            }
.span-inicial {
font-size: 40px;
font-family: arial;
color: rgb(255, 238, 0);
text-decoration: underline;
text-transform: uppercase;
display: inline-block /*por padrão span é inline*/
width: 50px;/*ignorado por elemento inline*/
heigth: 50px;
background-color:#768276; 
}
.bloco-escondido{
display: inline-block;

}
.box{ 
background-color: blue;
color: white;
width:100px;
/*height: 100px;*/
display: block;
/*border: 10px solid green;*/
/*padding:10px;*/
/*padding-top: 40px;
padding-bottom: 5px;
padding-right:20px ;
padding-left: 30px;*/

/*padding: 20px 30px;*/
/*padding-top: 20px;
padding-bottom: 20px;
padding-right:30px ;
padding-left: 30px;*/

/*padding:10px 20px 30px 40px;*/
padding-top: 10px;
padding-right: 20px;
padding-bottom: 30px;
padding-left: 40px;

margin: 10px;
border-top: 10px solid green;
border-bottom: 4px dashed green;
}