

 /*FORMATACAO DOS TITULOS*/
 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
    width: 50%;
}
p{
    background-color:black;
    color: white;
}
span {
font-size: 40px;
font-family: "comic Sans MS";
color: yellow;
text-decoration: underline;
text-transform: uppercase;
}
ul{
    font-size: 40px;
    list-style: nome;
}
ol{
    font-size: 50px;
    list-style: upper-latin;
    margin-left: 40px;
}

.conteudo{
    margin-left: 2rem;
}
#titulo-principal{
    Explicando cascade e especi
    margin-left: 5rem;
}
/*Explicando cacade e Especificidade*/
.titulo-pagina{
    font-size: 5rem;
    border: 5px solid red;
    color: red;
}
.titulo{
    color: green;
    border-style: dashed
}